<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">LibrarySystem</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <AuthorizeView Roles="Admin">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/Identity/Account/RegisterAssistant">
                    <span class="oi oi-people" aria-hidden="true"></span> Register Assistant
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Admin, Assistant">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/Members">
                        <span class="oi oi-people" aria-hidden="true"></span> Member Management
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/Books">
                        <span class="oi oi-book" aria-hidden="true"></span> Book Management
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/Kiosk">
                        <span class="oi oi-book" aria-hidden="true"></span> Catalog
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/Kiosk">
                        <span class="oi oi-book" aria-hidden="true"></span> Catalog
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
