@using LibrarySystem.Services
@inject IMembersService membersService

@if (ShowDialog)
{
    <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" style="color:white" id="titleLabel">Are you sure you want to delete?</h5>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" @onclick="@Yes">Yes</button>
                    <button type="submit" class="btn btn-primary" @onclick="@Close">No</button>
                </div>
            </div>
        </div>
    </div>
}

@code
{


    public bool ShowDialog { get; set; }

    [Parameter]
    public LibraryMember LibraryMember { get; set; }

    [Parameter]
    public EventCallback CloseEventCallback { get; set; }

    public void Show()
    {
        ShowDialog = true;
        StateHasChanged();
    }
    public void Close()
    {
        ShowDialog = false;
        StateHasChanged();
    }
    protected async Task Yes()
    {
        ShowDialog = false;

        membersService.Delete(LibraryMember);

        await CloseEventCallback.InvokeAsync();


        StateHasChanged();
    }
}

