@page "/books"
@using LibrarySystem.Services;
@inject IBooksService booksService
@inject NavigationManager navigationManger

<AuthorizeView Roles="Admin, Assistant">
    <Authorized>
        <div class="container text-center">
            <h2>Book Management</h2>
        </div>
        <br />
        <div class="container text-center">
            <div class="card text-white">
                <div class="card-header bg-primary">
                    <div class="container">
                        <h3 class="float-left"></h3>
                        <h3>Search Books</h3>
                        <button class="btn btn-light btn-md float-right" @onclick="@(() => navigationManger.NavigateTo("/books/create"))"
                                id="right" style="color:black">
                            Add Book
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <br />
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Search</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" @oninput="@((ChangeEventArgs e) => Search(e.Value.ToString()))">
                    </div>
                </div>
            </div>
            <br />
            <p><em>@books.Count Results Found</em></p>

            <h5>Book Shelf</h5>
            @if (books.Count > 0)
            {
                <br />
                <br />
                <div class="container">
                    @for (int i = 0; i < books.Count; i += 3)
                    {
                        <div class="row">
                            @for (int j = i; (j < i + 3) && (j < books.Count); j++)
                            {
                                <div class="col-md-4 col-md-2">
                                    <BookCard Book="books[j]"></BookCard>
                                </div>
                                <br />
                            }

                            <div class="col-sm-12 shelf hidden-md hidden-lg"></div>
                        </div>
                        <br />
                        <br />
                    }
                </div>
                <br />
                <br />
            }
            <br />
            <br />

        </div>
    </Authorized>
    <NotAuthorized>
        <h2>You are not authorized to view this page!</h2>
    </NotAuthorized>
</AuthorizeView>


@code {


    List<Book> books = new List<Book>();

    private async void Search(string value)
    {
        books.Clear();
        books = await booksService.SearchTitle(value);
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        Search("");
    }
}